#site-search-form {
	position: relative;
	overflow: visible;
}

#ajax-search-result-container {
	position: absolute;
	display: none;
	border: 1px solid #666;
	background: #fff;
	width: 300px;
	z-index: 50000;
	-moz-box-shadow: 3px 5px 30px #333;
	-webkit-box-shadow: 3px 5px 30px #333;
}

#ajax-search-results h4 {
	margin: 0;
	background: #bde6fe;
	padding: 5px;
}

#ajax-search-top-hits-content .search-result a,
#ajax-search-top-hits-content .search-result a:visited,
#ajax-search-top-hits-content .search-result a:active,
#ajax-search-top-hits-content .search-result a:focus {
	display: block;
	padding: 5px;
	background: none;
}

#ajax-search-top-hits-content .search-result a:hover {
	background: #7ac2f4;
}

#ajax-search-throbber {
	float: right;
}

#ajax-search-result-container #ajax-search-results #ajax-search-top-hits-content p.none-found {
	margin: 20px 0;
	text-align: center;
	font-size: 16px;
	color: #bbb;
}

#ajax-search-see-all-link {
	padding: 5px;
	text-align: center;
}

h3#search-summary {
	text-align: center;
	margin: 15px 0;
}

#site-search-results .search-result {
	padding: 15px;
}

#site-search-results .search-result p.small {
	margin: 0;
}

#site-search-results .search-result em {
	background: #fff690;
	padding: 1px 8px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #666;
	-moz-box-shadow: 1px 1px 2px #000;
	-webkit-box-shadow: 1px 1px 2px #000;
	box-shadow: 1px 1px 2px #000;
	font-style: normal;
	color: #000;
}
#site-search-results .search-result h4 em {
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}